<html lang="sk">
	<head>
		<meta charset="UTF-8" />
		<title>O mne</title>
	</head>
	<body>
		<h1>O mne</h1>
		<p>volam sa daniel, som druhak na spse kosice, a na programovani ma bavy to ze mozem s malou zmenou ebz velkej namahy zmenit celly vysledny produkt</p>
	</body>
</html>	